In [1]:
exam = [
    {'num': 1, 'name': '김철수', 'kor': 90, 'eng': 80, 'math': 85, 'total': 255, 'avg': 85.0, 'order': 0},
    {'num': 2, 'name': '박제동', 'kor': 90, 'eng': 85, 'math': 90, 'total': 265, 'avg': 88.3, 'order': 0},
    {'num': 3, 'name': '홍길동', 'kor': 80, 'eng': 80, 'math': 80, 'total': 240, 'avg': 80.0, 'order': 0},
]

In [28]:
# 기존 배열의 순서가 달라져도 상관이 없다면
def set_order(exam):
    exam = sorted(exam, key=lambda k: k['avg'], reverse=True) 
    for i in range(0, len(exam)):
        exam[i]['order'] = i+1
    return exam

In [29]:
set_order(exam)

[{'num': 2,
  'name': '박제동',
  'kor': 90,
  'eng': 85,
  'math': 90,
  'total': 265,
  'avg': 88.3,
  'order': 1},
 {'num': 1,
  'name': '김철수',
  'kor': 90,
  'eng': 80,
  'math': 85,
  'total': 255,
  'avg': 85.0,
  'order': 2},
 {'num': 3,
  'name': '홍길동',
  'kor': 80,
  'eng': 80,
  'math': 80,
  'total': 240,
  'avg': 80.0,
  'order': 3}]

In [43]:
# 기존 배열의 순서가 유지되어야 한다면
def set_order(exam):
    order_list = sorted([elem['avg'] for elem in exam], reverse=True) 
    for elem in exam:
        for i in range(0, len(order_list)):
            if elem['avg'] == order_list[i]:
                elem['order'] = i+1 
    return exam

In [44]:
set_order(exam)

[{'num': 1,
  'name': '김철수',
  'kor': 90,
  'eng': 80,
  'math': 85,
  'total': 255,
  'avg': 85.0,
  'order': 2},
 {'num': 2,
  'name': '박제동',
  'kor': 90,
  'eng': 85,
  'math': 90,
  'total': 265,
  'avg': 88.3,
  'order': 1},
 {'num': 3,
  'name': '홍길동',
  'kor': 80,
  'eng': 80,
  'math': 80,
  'total': 240,
  'avg': 80.0,
  'order': 3}]

In [50]:
# 루프로만 구현한다면
def set_order(exam):
    for i in range(0, len(exam)):
        exam[i]['order'] = 1
        for j in range(0, len(exam)):
            if exam[i]['avg'] < exam[j]['avg']:
                exam[i]['order'] += 1
    return exam

In [51]:
set_order(exam)

[{'num': 1,
  'name': '김철수',
  'kor': 90,
  'eng': 80,
  'math': 85,
  'total': 255,
  'avg': 86.0,
  'order': 2},
 {'num': 2,
  'name': '박제동',
  'kor': 90,
  'eng': 85,
  'math': 90,
  'total': 265,
  'avg': 88.3,
  'order': 1},
 {'num': 3,
  'name': '홍길동',
  'kor': 80,
  'eng': 80,
  'math': 80,
  'total': 240,
  'avg': 82.0,
  'order': 3}]